.container{
  display: flex;
  justify-content: space-between;
}
.infoContainer{
  display: flex;
  gap: 1rem;
}
.valorContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .5rem 0;
}
.imgContainer{
  width: 8rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--palet-color-1);
}

/* Values */
.title{
  font-size: 1.2rem;
  font-weight: bold;
}
.gray{
  color: var(--black-60);
}
.price{
  font-size: 1.5rem;
  font-weight: bold;
}

/* Buttons */
.buttonsFlex{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.trashButton{
  display: flex;
  justify-content: end;
  font-size: 1.5rem;
  color: var(--red-color);
}
.cuantity{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 3rem;
  min-width: 8rem;
  border-radius: 1.5rem;
  background-color: var(--palet-color-1);
}