.form {
  height: 30rem;

  background-color: var(--white-color);
  border: 1px var(--black-40) solid;
  border-radius: 1rem;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.title {
  font-size: 2rem;
  text-align: center;
}

.link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}
.link:hover {
  color: #0056b3;
}

.input {
  display: flex;
  height: 3rem;
  gap: 1rem;

  background-color: var(--palet-color-1);
  border-radius: 1.5rem;
  padding: 0 1rem;
}
.icon {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black-40);
}
.buttonContainer {
  display: flex;
  justify-content: center;
}
input {
  flex-grow: 1;
  background: none;
  border: none;
  outline: none;
}
