.content{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 95%;
  max-width: 78rem;
  margin: 1.5rem auto;
  flex-grow: 1;
}
.title{
  font-size: 2rem;
}
.gridForms{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
@media( min-width: 768px) {
  .gridForms{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
}


