.container{
  width: 95%;
  max-width: 78rem;
  border: 1px var(--black-10) solid ;
  background-color: var(--palet-color-1);
  margin: 3rem auto;
  border-radius: 2.5rem;
  padding: 3rem;
}
.title{
  display: flex;
  font-size: 3rem;
}

/* Grids */
.gridsContainer{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 3rem;
}
.grid1{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1.5rem;
}
.grid2{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1.5rem;
}
.imgContainer{
  border-radius: 1.5rem;
  padding: 2rem;
  
  background-repeat: no-repeat;
  background-size: 100% auto;

  transition: transform .2s ease;
  border: 1px var(--black-10) solid;
}
.imgContainer:hover{
  transform: scale(1.02);
}
.categorieNames{
  font-size: 2rem;
  font-weight: bold;
}