.container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 20rem;
  height: 100%;
}
.cuadros{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-top: 5rem;
}
.vistasInfo{
  display: grid;
  width: 18rem;
  height: 10rem;
  border-radius: 1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  padding: 20px;
  padding-left: 2rem;
  background-color: #fff;
  justify-content: start;
}

.vistasInfo i{
  font-size: 1.5rem;
}

.vistasInfo h4{
  font-size: 2rem;
}

.vistasInfo p{
  font-size: 1.2rem;
}

.graficoVentas {
  height: 20rem;
  width: 60rem;
  display: flex;
  align-items: end;
  justify-content: center;
  text-align: center;
}
