.sale{
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-color);
  color: var(--white-color);

  position: relative;
}
.close{
  position: absolute;
  right: 5%;
  color: var(--white-color);
  background: none;
  border: none;
}
.close:hover{
  transform: scale(1.2);
}

/* Navigation bar */
.navBar{
  display: flex;
  align-items: center;
  gap: 4rem;
  max-width: 100%;
  margin: 1.5rem auto;
  padding: 0 1rem;
  
  /* Separador */
  padding-bottom: 1.5rem;
  border-bottom: 2px var(--palet-color-1) solid;
  margin-bottom: 0;
}
.imgContainer{
  width: 8rem;
  transition: transform .5s ease ;
  margin-left: 1rem;
}
.imgContainer:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.navButtons{
  display: flex;
  gap: 1rem;
}

.navButtons select{
  width: 8.5rem;
}

.button{
  background: none;
  border: none;
}
.buscador{
  display: flex;
  align-items: center;
  background-color: var(--palet-color-1);
  height: 3rem;
  border-radius: 2rem;
  padding: 0 1rem;
  gap: 1rem;
  color: var(--black-40);
  flex-grow: 1;
}
.inputBuscador{
  background: none;
  border: none;
  width: 100%;
  font-size: medium;
}
.inputBuscador:focus{
  outline: none;
}
.icons{
  display: flex;
  gap: 1.5rem;
  margin-right: 2rem;
}
