.container {
  display: flex;
  flex-direction: column;
  max-width: 78rem;
  width: 95%;
  margin: 0 auto;
  margin-top: 1.5rem;

  gap: 1.5rem;
}

/* grid producto */
.gridProducto {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.gridProducto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
@media (min-width: 768px) {
  .gridProducto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }
}

.productInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.descripcion {
  color: var(--black-60);
}
.precio {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}
/* Image */
.imgGrid {
  display: grid;
  grid-template-columns: 24% 75%;
  gap: 1rem;
}
.imgContainer {
  width: 100%;
  height: 100%;
  border-radius: 1.2rem;
}
.imgsGallery {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.noImgContainerSide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  background-color: var(--palet-color-1);
  aspect-ratio: 1 / 1; /* cuadrado adaptable */
  font-size: 3rem;
}
.noImgContainer {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  background-color: var(--palet-color-1);
  font-size: 3rem;
}

/* Buttons */
.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.containerButton {
  display: flex;
  gap: 1rem;
}
.buttonsSize {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
  margin-top: 1rem;
  border: 1px solid var(--white-color);
  padding: 0.1rem;
  border-radius: 1.5rem;
  transition: all 0.3s ease-in-out;
}
.buttonsSize button {
  height: 2.5rem;
  min-width: 5rem;
  border-radius: 1.25rem;
  background-color: var(--black-10);
}
.buttonsSize button.selected {
  background-color: var(--black-color);
  color: white;
}
.buttonsAction {
  display: flex;
  gap: 1rem;
}
.cuantity {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 3rem;
  width: 8rem;
  border-radius: 1.5rem;
  background-color: var(--palet-color-1);
  transition: background-color 0.2s ease;
}
.cuantity:hover {
  background-color: var(--black-10);
}
/* Aded to cart modal */
.addedToCart {
  position: fixed;
  top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--white-color);
  width: 40rem;
  border-radius: 1.5rem;
  padding: 1.5rem;
}

/* Error */
.errorContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
  gap: 3rem;
}
.errorSize {
  border: 1px solid var(--red-color);
}
