.container {
  width: 90%;
  max-width: 78rem;
  margin: 0 auto;
  flex-grow: 1;
  padding: 1.5rem 0;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.gridContainer {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.5rem;
}
.flexGap {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* Contenido Info */
.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  border: 1px solid var(--black-10);
  padding: 1.5rem;
  border-radius: 1.5rem;

  top: 1.5rem;
  position: sticky;
}
.imageContainer {
  background-color: var(--palet-color-1);

  display: flex;
  justify-content: center;
  align-items: center;

  aspect-ratio: 1 / 1;
  font-size: 5rem;
  border-radius: 100%;
}

/* Campos */
.camposContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  border: 1px solid var(--black-10);
  padding: 1.5rem;
  border-radius: 1.5rem;
}
.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: var(--palet-color-1);
}
.noCampo {
  font-size: 1.5rem;
  text-align: center;
}
.gray {
  color: var(--black-60);
}

/* Close sesion */
.colseContainer {
  position: fixed;
  top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--white-color);
  width: 30rem;
  border-radius: 1.5rem;
  padding: 1.5rem;
}
.closeContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
